body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
h2
{
  font-size: 3vw;
  color: white;
  text-transform: uppercase;
  
}


/* h2::before
{
  content: attr(data-text);
  position: absolute;
  color: #04f98f;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #01fe87;
  overflow: hidden;
  animation: animate 10% linear infinite;
}

@keyframes animate 
{

  0%,10%,100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 100%;
  }

  
} */